.checkboxLabel {
  font-size: 14px;
  font-weight: 500;
  color: var(--app-text);
}

.checkboxControlLabel {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.checkbox {
  padding: 8px;
  color: var(--app-border);
}

.childrenContainer {
  margin-left: 28px;
  padding-left: 12px;
  border-left: 1px solid var(--app-border);
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
}
