VITE_BACKEND_URL=http://localhost:8080
VITE_MAPBOX_BASE_URL=https://api.mapbox.com/geocoding/v5/mapbox.places
VITE_MAPBOX_ACCESS_TOKEN=***************************************************
VITE_CLOUDINARY_FOLDER=admin
VITE_MAX_STAFF_DOCS_LIMIT=10
VITE_STRIPE_PUBLISHABLE_KEY=***************************************************
VITE_STOREFRONT_DOMAIN=salon.com
VITE_STOREFRONT_URL=http://localhost:3001
PORT=3000
APP_FORWARD_PORT=3000
VITE_APP_NAME=Veloura