.updateButton {
  .editIcon {
    color: var(--white);
  }
}

.dialogContainer {
  .dialogContent {
    gap: 16px;
    padding: 8px 24px 24px 24px;
  }
  .dialogActions {
    gap: 8px;
  }
  .dialogTitle {
    color: var(--primary-900);
  }
}

.dialog {
  width: 600px;
}
