.dialogContainer {
  .dialogContent {
    gap: 16px;
    padding: 8px 24px 24px 24px;
  }
  .dialogActions {
    gap: 8px;
  }
}

.dialogSm {
  width: 400px;
  overflow: hidden;
}

.dialogMd {
  width: 500px;
  overflow: hidden;
}

.dialogLg {
  width: 600px;
  overflow: hidden;
}
