.otpContainer {
  width: 100%;
}

.otpInputWrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.otpTextField {
  width: 48px;
}

.otpHelperText {
  white-space: nowrap;
  width: max-content;
  overflow: visible;
}

.otpInput {
  text-align: center;
  font-weight: bold !important;
}
