.updateButton {
  .editIcon {
    color: var(--white);
  }
}
.dialogContent {
  padding: 0px 24px;
}
.dialogActions {
  gap: 8px;
}
.dialogTitle {
  color: var(--primary-900);
}

.dialog {
  width: 450px;
}
